
<div class="pagination center-block text-center">
  <ul class="list-inline">
    <li class="active">
      <a href="#" class="btn btn-primary btn-sm" data-id="1">1</a>
    </li>
    <li><a id="xxx" href="#" class="btn btn-primary btn-sm" data-id="2">2</a></li>
    <li><a href="#" class="btn btn-primary btn-sm" data-id="3">3</a></li>
    <li><a href="#" class="btn btn-primary btn-sm" data-id="4">4</a></li>
  </ul>
</div>
