{{#each shot}}
  <div class="text-center col-lg-6" >
    <p><img src="{{image_url}}" class="img-rounded" width="100%"></p>
    <p><em>Likes: </em> {{likes_count}} | <em>Views: </em> 2042</p>
    <p><a href="{{url}}" target="_blank"><strong>{{title}}</strong></a></p>
    <hr>
  </div>
{{/each}}
